*{
    margin: 0px;
}

html{
    height: 100%;
    background: linear-gradient(#0046ae, #9198e5);
}

div {
    height: 400px;
    width: 270px;
    background: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    border-radius: 17px;
    margin: auto;
    margin-top: 121px;
    box-shadow: 2px 2px 2px rgb(53, 49, 49);
}

div:hover{
    background: linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));
}
p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px rgb(34, 33, 33);
    border-top: 15;
}
img {
    height: 230px;
    width: 230px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 30px;
}
img:hover{
    box-shadow: 3px 3px 3px #1d1d1f;
    transition: 0.5s;
}
.name{
    color: rgb(43, 40, 40);
}
.name:hover{
    cursor: pointer;
}    